flows.json
[{"id":"8c5def00.8bcde8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19531877.b64b5","type":"inject","z":"8c5def00.8bcde8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":240,"wires":[["e52a7a75.8ab2d8"]]},{"id":"96cee158.c2006","type":"debug","z":"8c5def00.8bcde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"e52a7a75.8ab2d8","type":"function","z":"8c5def00.8bcde8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["96cee158.c2006"]]},{"id":"164c8ea1.64e1e9","type":"inject","z":"8c5def00.8bcde8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":320,"wires":[["4cb0f884.bc6d5"]]},{"id":"4cb0f884.bc6d5","type":"http request","z":"8c5def00.8bcde8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["3e2b34e6.de4124"]]},{"id":"3e2b34e6.de4124","type":"csv","z":"8c5def00.8bcde8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":660,"y":320,"wires":[["7a5fff8c.0130c8","d1cc6ade.ea745"]]},{"id":"7a5fff8c.0130c8","type":"debug","z":"8c5def00.8bcde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"d1cc6ade.ea745","type":"switch","z":"8c5def00.8bcde8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":380,"wires":[["4552c61e.586f"]]},{"id":"4552c61e.586f","type":"change","z":"8c5def00.8bcde8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["dd09bf6b.2043d"]]},{"id":"dd09bf6b.2043d","type":"debug","z":"8c5def00.8bcde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":380,"wires":[]},{"id":"e36406f2.8ef798","type":"inject","z":"8c5def00.8bcde8","name":"","repeat":"300","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":290,"y":540,"wires":[["c3c50023.3bbed"]]},{"id":"c3c50023.3bbed","type":"http request","z":"8c5def00.8bcde8","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","x":460,"y":540,"wires":[["8afc6cac.e0812"]]},{"id":"8afc6cac.e0812","type":"csv","z":"8c5def00.8bcde8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":630,"y":540,"wires":[["44779781.4190f8","6f0eb546.9e208c"]]},{"id":"44779781.4190f8","type":"debug","z":"8c5def00.8bcde8","name":"","active":true,"complete":false,"x":790,"y":540,"wires":[]},{"id":"6f0eb546.9e208c","type":"switch","z":"8c5def00.8bcde8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":670,"y":600,"wires":[["d78d4aa8.8c8208"]]},{"id":"d78d4aa8.8c8208","type":"change","z":"8c5def00.8bcde8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["72fddece.fac0d"]]},{"id":"72fddece.fac0d","type":"debug","z":"8c5def00.8bcde8","name":"","active":true,"complete":false,"x":910,"y":600,"wires":[]}]