node-red.json
[{"id":"36945cdf.9addac","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"ac072c84.d704c","type":"http in","z":"36945cdf.9addac","name":"","url":"/chatbot","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["78298a99.118964"]]},{"id":"1b59e867.b7b2c8","type":"http response","z":"36945cdf.9addac","name":"","statusCode":"","headers":{},"x":490,"y":140,"wires":[]},{"id":"78298a99.118964","type":"template","z":"36945cdf.9addac","name":"navbar","field":"template.navbar","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"m-3\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" x=\"0\" y=\"0\" width=\"357.1\" height=\"75.5\" viewBox=\"0 0 357.1 75.5\" enable-background=\"new 0 0 357.116 75.473\" xml:space=\"preserve\"><path fill=\"#0076BE\" d=\"M121.8 20.9h-7.2v44.8h-6.1c-4.2 0-7.9-1.9-7.9-7.3v-37.4H86V16c0-3.1 2.7-6.8 7.9-6.8h35.8v4.9C129.7 17.3 126.1 20.9 121.8 20.9zM148.7 66.9c-13.2 0-20.3-6.4-20.3-19.5V25h5.5c6.1 0 8.8 2.1 8.8 8.3v14.5c0 6 2.8 7.8 6.7 7.8 3.3 0 6-1.9 6-8.4V25h5.5c5.6 0 8.7 2.4 8.7 8.3v14.5C169.5 60.8 161.2 66.9 148.7 66.9zM200.7 35.5c-1.8-0.7-3.1-0.8-5-0.8 -3.4 0-6.1 1.7-6.1 6.7v24.3h-3.8c-6.1 0-9.8-2.8-9.8-9.6V38.4c0-8.2 5.5-14.7 14.8-14.7 7 0 10.3 2.9 10.3 6.7v5.2H200.7zM238.6 65.7c-6.2 0-8.1-2.1-8.1-8.3V43.1c0-5.5-1.8-7.9-6.6-7.9 -4.1 0-6.3 2.7-6.3 7.7v22.8h-4.7c-6 0-9.3-2.4-9.3-8.3V43.1c0-11.7 7.8-19.3 20.7-19.3 14.4 0 20.3 7.6 20.3 19.7v22.2H238.6zM269.8 50.4h-6.1c0.8 4.1 4.1 6 10 6 6.5 0 10.6-1 12.9-2.6h0.5v3.3c0 5.2-4.2 9.8-15.8 9.8 -14 0-21.4-9.5-21.4-20.7 0-12.4 8.4-22.4 20.9-22.4 10.7 0 18.9 6 18.9 16.3C289.7 48.2 283.5 50.4 269.8 50.4zM270.7 34.2c-5 0-7 3.2-7.4 7.1h5.5c6.7 0 7.8-1 7.8-2.8C276.6 36.5 274.8 34.2 270.7 34.2zM321.2 35.5c-1.8-0.7-3.1-0.8-5-0.8 -3.4 0-6.1 1.7-6.1 6.7v24.3h-3.8c-6.1 0-9.8-2.8-9.8-9.6V38.4c0-8.2 5.5-14.7 14.8-14.7 7 0 10.3 2.9 10.3 6.7v5.2H321.2zM339.1 66.9c-11.1 0-15.1-4.1-15.1-10v-4.1h0.4c2.7 2 6.7 3.6 12.5 3.6 5.1 0 6.7-1.2 6.7-3.2 0-1.8-1-2.6-9.4-3.8 -7.3-1-11.2-4.4-11.2-10.9 0-9.8 9.2-14.7 18.6-14.7 9 0 14.5 3.6 14.5 9.7v4.2h-0.4c-2.7-2-7-3.4-12.5-3.4 -5.3 0-7 1.4-7 3.1 0 1.6 0.9 2.1 9.4 3.5 6.8 1.1 11.4 4.8 11.4 11.7C357.1 61.3 350.3 66.9 339.1 66.9z\"></path><circle fill=\"#B71234\" cx=\"37.7\" cy=\"37.7\" r=\"37.7\"></circle><path fill=\"#FFFFFF\" d=\"M43.5 31.6c3.7-14.9 5-19.5-1-20.9 -8-1.9-11.1 12.4-12.5 22.1 -1.3 0-2.5 0-4.1-0.1 -6.1-0.3-10.2-1.3-13.2 2.7 -2.8 3.8 4 6.5 16.4 4.9 -1.5 17.1 4.4 22.8 8.8 23.3 8.5 0.9 21.2-16.9 21.2-16.9S48.5 57.2 43.9 57.2c-4.8 0-4.4-7.6-2.6-17.7 0.2-0.6 0.4-1.3 0.6-1.9 12.9-3.1 13.3-3.4 16-3.2 2.2 0.2 3-0.1 3.2-0.9C61.4 31.4 56.7 30.4 43.5 31.6z\"></path><title>Turners Cars Logo</title></svg>\n</div>\n<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary\">\n  <a class=\"navbar-brand\" href=\"#\">\n      \n      Turners</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor01\" aria-controls=\"navbarColor01\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor01\">\n    <ul class=\"navbar-nav mr-auto\">\n      <li class=\"nav-item active\">\n        <a class=\"nav-link\" href=\"#\">Find a Car\n          <span class=\"sr-only\">(current)</span>\n        </a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">How To Buy</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Sell Your Car</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Finance & Insurance</a>\n      </li>\n         <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"#\">Careers</a>\n      </li>\n      <li class=\"nav-item dropdown\">\n        <a class=\"nav-link dropdown-toggle\" data-toggle=\"dropdown\" href=\"#\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">How To Buy</a>\n        <div class=\"dropdown-menu\">\n          <a class=\"dropdown-item\" href=\"#\">View our cars</a>\n          <a class=\"dropdown-item\" href=\"#\">Another action</a>\n          <a class=\"dropdown-item\" href=\"#\">Something else here</a>\n          <div class=\"dropdown-divider\"></div>\n          <a class=\"dropdown-item\" href=\"#\">Separated link</a>\n        </div>\n      </li>\n    </ul>\n    <form class=\"form-inline my-2 my-lg-0\">\n      <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Find a Car\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>","output":"str","x":310,"y":80,"wires":[["343679db.3bd6b6"]]},{"id":"343679db.3bd6b6","type":"template","z":"36945cdf.9addac","name":"head","field":"template.head","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css\" integrity=\"sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\" integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css\">\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js\"></script>\n","output":"str","x":310,"y":120,"wires":[["a57035a0.2e7588"]]},{"id":"36840ce4.f37a14","type":"template","z":"36945cdf.9addac","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    {{{template.head}}}\n</head>\n<body>\n</div>\n    {{{template.navbar}}}\n    {{{template.body}}}\n    {{{template.chatbot}}}\n</body>\n</html>","output":"str","x":310,"y":240,"wires":[["1b59e867.b7b2c8"]]},{"id":"a57035a0.2e7588","type":"template","z":"36945cdf.9addac","name":"body","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n\n<div class=\"jumbotron\">\n<img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/webassets/globalassets/campaign-banners--artwork/2020/buyersscore_webbanner_revisedf.jpg\" atl=\"\"/>\n\n</div>\n    \n    \n<div class=\"container\">\n<div>\n1000's of Quality Cars for Sale\nTurners Cars is the largest used car network in New Zealand with 21 car dealer locations nationwide. With a huge range of well over 3,000 cars for sale (and 1,500 being made ready for sale at any one time) there is truly something for everyone. We’ve been helping Kiwis buy and sell used cars for over 50 years. And if you want car finance or car insurance, we can sort that out for you as well.\n</div>\n\n<div class=\"row\">\n    \n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2013 Mazda Axela</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Nissan Leaf</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/nissan-leaf-19363606_12078444.jpg\" alt=\"Photo '1' of Nissan Leaf\" title=\"Photo '1' of Nissan Leaf\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2007 Volkswagen Touareg V10 TDI 4WD</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Mazda Demio</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-demio-20322509_12262218.jpg\" alt=\"Photo '1' of Mazda Demio\" title=\"Photo '1' of Mazda Demio\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n                <li>Reversing Camera</li>\n                <li>Bluetooth</li>\n                <li>USB Port</li>\n                <li>Child Seat Anchor Points</li>\n                <li>Cruise Control</li>\n                <li>Alloy Wheels</li>\n                <li>Steering Wheel Controls</li>\n        </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2015 Nissan Leaf</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/nissan-leaf-19363606_12078444.jpg\" alt=\"Photo '1' of Nissan Leaf\" title=\"Photo '1' of Nissan Leaf\" style=\"\">\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n<div class=\"card border-primary m-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\">2007 Volkswagen Touareg V10 TDI 4WD</div>\n  <div class=\"card-body\">\n    <img class=\"embed-responsive\" src=\"https://content.tgstatic.co.nz/photos/good/mazda-axela-20275166_12373215.jpg\" alt=\"Photo '1' of Mazda Axela\" title=\"Photo '1' of Mazda Axela\"/>\n    <h4 class=\"card-title\">Key Vehicle Features</h4>\n    <ul>\n        <li>Child Seat Anchor Points</li>\n        <li>Alloy Wheels</li>\n        <li>Steering Wheel Controls</li>\n    </ul>\n    </div>\n</div>\n\n</div>\n\n</div>\n\n<div class=\"jumbotron\">\n    \n    \n  <h1 class=\"display-3\">Mockup Page for Mission Ready</h1>\n  <p class=\"lead\">Daniel Nguyen</p>\n  <hr class=\"my-4\">\n  <p>Have questions? Let us help.</p>\n  <p class=\"lead\">\n    <a class=\"btn btn-primary btn-lg\" href=\"#\" role=\"button\">Call Us</a>\n  </p>\n</div>\n\n</div>","output":"str","x":310,"y":160,"wires":[["9ffd294d.a42228"]]},{"id":"9ffd294d.a42228","type":"template","z":"36945cdf.9addac","name":"chatbot","field":"template.chatbot","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"82137acd-e3db-40c5-9818-183af0673da4\", // The ID of this integration.\n      region: \"au-syd\", // The region your integration is hosted in.\n      serviceInstanceID: \"211ec0b0-432c-49f0-b2a1-f219a352bb14\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>","output":"str","x":320,"y":200,"wires":[["36840ce4.f37a14"]]}]